ENV=development
LOG_LEVEL=debug
DATABASE_URL=postgres://user:password@localhost:5432/database?sslmode=disable
STORAGE_ENDPOINT=localhost:9000
STORAGE_ACCESS_KEY=your-access-key
STORAGE_SECRET_KEY=your-secret-key
STORAGE_BUCKET=your-bucket-name
STORAGE_REGION=
STORAGE_USE_SSL=false
WORKER_TICKER_INTERVAL=1h
METRICS_ADDR=:9090